/* fira-sans-100 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/fira-sans-v11-latin-100.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-100.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-100.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-100.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-100.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-100italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/fira-sans-v11-latin-100italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-100italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-100italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-100italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-100italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-100italic.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-200 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/fira-sans-v11-latin-200.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-200.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-200.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-200.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-200.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-200.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-200italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/fira-sans-v11-latin-200italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-200italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-200italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-200italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-200italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-200italic.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-300 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/fira-sans-v11-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-300.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-300italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/fira-sans-v11-latin-300italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-300italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-300italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-300italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-300italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-300italic.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/fira-sans-v11-latin-italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-italic.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-regular - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fira-sans-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-regular.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-500italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/fira-sans-v11-latin-500italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-500italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-500italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-500italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-500italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-500italic.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-500 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/fira-sans-v11-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-500.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-600 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/fira-sans-v11-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-600.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-600italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/fira-sans-v11-latin-600italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-600italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-600italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-600italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-600italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-600italic.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-700 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/fira-sans-v11-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-700.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-700italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/fira-sans-v11-latin-700italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-700italic.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-800 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/fira-sans-v11-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-800.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-800.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-800italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/fira-sans-v11-latin-800italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-800italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-800italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-800italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-800italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-800italic.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-900 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fira-sans-v11-latin-900.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-900.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

/* fira-sans-900italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/fira-sans-v11-latin-900italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fira-sans-v11-latin-900italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fira-sans-v11-latin-900italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fira-sans-v11-latin-900italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fira-sans-v11-latin-900italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fira-sans-v11-latin-900italic.svg#FiraSans') format('svg');
    /* Legacy iOS */
}

body {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #616161;
}

header {
    height: 95vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 700;
    color: #151515;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 22px;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    display: block;
}

.nav {
    padding-top: 59px;
    margin-bottom: 127px;
}

.search,
.menu {
    background-color: transparent;
    border: none;
}

.offer__cont-title {
    font-size: 60px;
    letter-spacing: -0.01em;
    line-height: 1.2em;
}

.offer__cont-text {
    margin: 30px 0 56px;
}

.btn {
    text-transform: uppercase;
    color: #fff;
    background-color: #3726F2;
    font-size: 14px;
    font-weight: 500;
    padding: 13px 26px;
    border: none;
    border-radius: 0;
    letter-spacing: 0.3em;
    text-align: center;
    transition: .5s all;
}

.btn:hover {
    background-color: #281cac;
    color: #fff;
}

.btn:focus {
    outline: none !important;
}

.hero {
    background: url('../img/img1.jpg') no-repeat right top;
    background-size: 80% 100%;
    width: 55%;
    height: 80vh;
    position: absolute;
    right: 0;
    top: 142px;
}

.be-static {
    position: static;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 20%;
    width: 30%;
    height: 34%;
    background: url('../img/img2.png') no-repeat center center;
}

.video::after {
    content: '';
    display: block;
    background-image: url('../img/play-btn.svg');
    width: 65px;
    height: 65px;
}

.vh-dependent {
    height: 35vh;
    display: flex;
    align-items: center;
}

.problems {
    padding-top: 137px;
}

.problems img {
    width: 100%;
}

.about__title {
    margin-bottom: 30px;
}

.about__text {
    font-size: 18px;
    max-width: 80%;
    margin-bottom: 20px;
}

.about__author {
    background: url('../img/avatar1.png') no-repeat left center;
    padding: 7px 0 7px 96px;
    margin-top: 61px;
}

.about__name {
    font-size: 22px;
}

.about__position {
    margin-bottom: 0;
}

.services {
    padding-top: 142px;
    margin-bottom: 180px;
}

.section-title__lable {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .25em;
    color: #ADADAD;
    font-weight: 600;
    margin-bottom: 40px;
}

.serv-list {
    color: #8d8d8d;
    margin-top: 67px;
}

.serv-list li {
    margin-bottom: 20px;
    font-size: 18px;
}

.serv-list_left {
    margin-left: 37px;
}

.gallery {
    margin-top: 100px;
}

.owl-carousel .item,
.owl-item {
    position: relative;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    text-align: left;
    margin: 50px 0 0 0 !important;
}

.owl-prev,
.owl-next {
    margin: 0 !important;
}

.owl-carousel .owl-prev {
    margin-right: 25px !important;
}

.gallery__play {
    display: block;
    background: url('../img/play-btn.svg');
    width: 65px;
    height: 65px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    cursor: pointer;
}

.collage {
    width: 50%;
    background: url('../img/img6.jpg') no-repeat left top / 86% 85%;
    height: 552px;
    position: absolute;
    left: 0;
}

.collage img {
    display: block;
    width: 350px;
    height: 453px;
    position: absolute;
    right: 0;
    bottom: 0;
    filter: drop-shadow(30px 80px 180px rgba(0, 0, 0, 0.25));
}

.easy {
    margin-left: 65px;
    margin-top: 30px;
}

.about__title {
    margin-bottom: 30px;
}

.easy__text {
    margin-bottom: 62px;
}

.easy__point {
    padding-left: 83px;
    text-transform: uppercase;
    letter-spacing: .4em;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
}

.easy__point_first {
    background: url('../img/result-icon.svg') no-repeat left center;
}

.easy__point_second {
    background: url('../img/min-design.svg') no-repeat left center;
}

.works {
    padding-top: 283px;
}

.work-tabs {
    margin-left: 60px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .3em;
    margin-top: 70px;
}

.work-tabs li a {
    color: #8d8d8d;
}


.work-tabs li.active a {
    color: #1434E1;
}

.works-wrap {
    flex-wrap: wrap;
    margin-top: 100px;
}

.works-wrap a {
    margin-bottom: 30px;
    position: relative;
    transition: .3s all;
}

.works-wrap a:hover img {
    filter: drop-shadow(-30px 80px 200px rgba(0, 0, 0, 0.25));
    transform: scale(1.1);
}

.works-wrap a img {
    transition: .3s all;
}

.works-wrap a:hover::after {
    content: '';
    display: block;
    background: url('../img/play-btn.svg');
    width: 65px;
    height: 65px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    animation: 1s forwards fade-in;
}

.tabs__content {
    display: none !important;
}

.tabs__content.active {
    display: flex !important;
}

.testimonials {
    padding-top: 248px;
    margin-bottom: 176px;
}

.cont-photo {
    display: block;
}

.testimonials-carousel .owl-nav {
    display: flex;
    position: absolute;
    bottom: 0;
}

.testimonials-carousel .section-title__heading {
    margin-bottom: 120px;
}

.contributor h3 {
    margin-bottom: 25px;
}

.testimonials-carousel .owl-next.disabled,
.testimonials-carousel .owl-prev.disabled {
    opacity: .5;
}

.clients {
    padding-top: 100px;
    padding-bottom: 140px;
}

.clients-desc__lable {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .25em;
    color: #000;
    font-weight: 600;
    margin-bottom: 40px;
}

.clients-desc {
    color: #636363;
}

.clients-row {
    margin-top: 75px;
}

.footer {
    height: 240px;
    background-color: #515151;
}

::-webkit-scrollbar {
    width: 8px;
    border: none;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708cdb 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.fancybox-slide--video .fancybox-content {
    width: 533px;
    height: 300px;
    max-width: 80%;
    max-height: 80%;
    margin: 0;
}

.burger__nav {
    max-width: 356px;
    overflow: hidden;
    transform: translate3d(-50%, 0, 0);
    position: absolute;
    top: 26px;
    right: 0;
}

.nav__cb {
    z-index: -1000;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.nav__content {
    position: relative;
    width: 90px;
    height: 100%;
    transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
}

.nav__cb:checked~.nav__content {
    transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
    width: 410px;
}

.nav__items {
    position: relative;
    width: 410px;
    height: 100%;
    list-style-type: none;
    font-size: 0;
}

.nav__item {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    text-align: center;
    color: #151515;
    font-size: 14px;
    line-height: 90px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    perspective: 1000px;
    transition: color 0.3s;
    cursor: pointer;
}

.nav__item:hover {
    color: #61B5FB;
}

.nav__item-text {
    display: block;
    height: 100%;
    transform: rotateY(-70deg);
    opacity: 0;
    transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s;
}

.nav__cb:checked~.nav__content .nav__item-text {
    transform: rotateY(0);
    opacity: 1;
    transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s;
}

.nav__item:nth-child(1) .nav__item-text {
    transition-delay: 0.3s;
}

.nav__cb:checked~.nav__content .nav__item:nth-child(1) .nav__item-text {
    transition-delay: 0s;
}

.nav__item:nth-child(2) .nav__item-text {
    transition-delay: 0.2s;
}

.nav__cb:checked~.nav__content .nav__item:nth-child(2) .nav__item-text {
    transition-delay: 0.1s;
}

.nav__item:nth-child(3) .nav__item-text {
    transition-delay: 0.1s;
}

.nav__cb:checked~.nav__content .nav__item:nth-child(3) .nav__item-text {
    transition-delay: 0.2s;
}

.nav__item:nth-child(4) .nav__item-text {
    transition-delay: 0s;
}

.nav__cb:checked~.nav__content .nav__item:nth-child(4) .nav__item-text {
    transition-delay: 0.3s;
}

.nav__btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    padding: 36px 31px;
    cursor: pointer;
}

.nav__btn:before,
.nav__btn:after {
    content: "";
    display: block;
    width: 28px;
    height: 4px;
    border-radius: 2px;
    background: #222;
    transform-origin: 50% 50%;
    transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s;
}

.nav__btn:before {
    margin-bottom: 10px;
}

.nav__cb:checked~.nav__btn:before {
    transform: translateY(7px) rotate(-225deg);
}

.nav__cb:checked~.nav__btn:after {
    transform: translateY(-7px) rotate(225deg);
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 20px;
    width: 20px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    color: #151515;
}

.input-search::placeholder {
    color: #151515;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 20px;
    height: 20px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #151515;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

@media(min-width: 1400px) {
    .works-wrap {
        max-width: 1110px;
    }

    .work {
        margin-right: 20px;
    }

    .works-container {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 1370px) {
    .search {
        margin-left: 0 !important;
    }

    .burger__nav {
        transform: translate3d(-4%, 0, 0);
    }

}

@media(max-width: 1200px) {
    .work-tabs {
        margin-left: 0;
    }

    .video {
        width: 42%;
    }

    .works-wrap {
        justify-content: center !important;
    }

    .works-wrap a {
        margin: 10px;
    }

    .testimonials-carousel .section-title__heading {
        margin-bottom: 27px;
    }
}

@media(max-width: 1000px) {
    .easy h2 {
        font-size: 33px;
    }

    .offer__cont-title {
        font-size: 50px;
    }

    .burger__nav {
        margin-top: 28px;
    }

    .nav {
        padding-top: 40px;
    }

    .section-title__heading {
        font-size: 28px;
    }

    .contributor h3 {
        margin-bottom: 0;
    }

    .contributor p {
        font-size: 12px;
    }

    .testimonials {
        padding-top: 170px;
    }

}

@media(max-width: 768px) {
    .collage {
        position: relative;
        width: 100%;
    }

    .hero {
        position: static;
        height: 100%;
        background-size: 100%;
        width: 100%;
    }

    .video {
        width: 42%;
        top: 68%;
    }

    .offer__cont {
        margin-bottom: 120px;
    }

    header {
        height: unset;
    }

    .problems .about {
        margin-top: 30px;
    }

    .serv-list_left {
        margin-left: 0;
    }

    .easy {
        margin-left: 0;
    }

    .collage img {
        max-width: 100%;
        width: unset;
        width: 100%;
    }

    .collage {
        background: none;
    }

    .services {
        margin-bottom: 10px;
    }

    .testimonials-carousel .owl-nav {
        bottom: -60px;
    }
}

@media(max-width: 576px) {
    .clients-row {
        flex-wrap: wrap;
    }

    .clients-row a {
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .video {
        width: 100%;
    }

    .offer__cont-title {
        font-size: 40px;
    }

    .offer__cont {
        margin-bottom: 80px;
    }

    .problems .about__text {
        max-width: unset;
    }

    h2 {
        font-size: 36px;
    }

    .owl-theme .owl-dots,
    .owl-theme .owl-nav {
        margin: 8px 0 0 0 !important;
    }

    .services {
        padding-top: 94px;
    }

    .serv-list {
        margin-top: 40px;
    }

    .gallery {
        margin-top: 50px;
    }

    .gallery.owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: #c4aace;
    }

    .gallery.owl-theme .owl-dots .owl-dot span {
        background: #eae8fb;
        width: 30px;
        height: 4px;
    }

    .gallery__play {
        width: 54px;
        height: 54px;
        background-size: cover;
        transform: translate(-50%);
        margin-left: unset;
    }

    .nav__item {
        width: 56px;
    }

    .burger__nav {
        max-width: 300px;
    }

    .btn-search:focus~.input-search,
    .input-search:focus {
        width: 200px;
    }

    .work-tabs {
        flex-wrap: wrap;
    }

    .work-tabs li a {
        margin-right: 10px;
    }

    .works {
        padding-top: 130px;
    }
}

@media(max-width: 400px),
(max-height: 680px) {
    .hero {
        background: none;
    }

    .vh-dependent {
        height: 100%;
    }

    .video {
        height: 300px;
        width: 100%;
        position: relative;
    }

    .nav {
        margin-bottom: 65px;
    }

    .problems {
        padding-top: 86px;
    }

    h2 {
        font-size: 30px;
    }

    .btn-search:focus~.input-search,
    .input-search:focus {
        width: 148px;
    }

    .works-wrap a img {
        max-width: 350px;
        width: 100%;
    }

}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}